<!--
 * @Description: main page
 * @Author: chenchen
 * @Date: 2021-03-12 14:23:53
 * @LastEditors: chenchen
 * @LastEditTime: 2021-03-12 15:02:06
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Egg</title>
    <link rel="icon" type="image/png" sizes="55x50" href="./images/logo.png"/>
    <!-- 引入vue -->
    <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <!-- 引入axios -->
    <script src="https://cdn.staticfile.org/axios/0.21.0/axios.min.js"></script>
    <!-- 引入moment -->
    <script src="https://cdn.staticfile.org/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
    <!-- 引入element组件库 -->
    <script src="https://cdn.staticfile.org/element-ui/2.9.0/index.js"></script>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.9.0/theme-chalk/index.css">
</head>
<body>
    <div  id="app">
        
    </div>
    <script>
        new Vue({
            el: "#app",

            data: {

            },

            methods: {
                
            }
        })
    </script>
</body>
</html>