<!--
 * @Description: main page
 * @Author: chenchen
 * @Date: 2021-03-12 14:23:53
 * @LastEditors: chenchen
 * @LastEditTime: 2021-03-22 15:02:02
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Egg</title>
    <link rel="icon" type="image/png" sizes="55x50" href="./images/logo.png"/>
    <!-- 引入vue -->
    <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <!-- 引入axios -->
    <script src="https://cdn.staticfile.org/axios/0.21.0/axios.min.js"></script>
    <!-- 引入moment -->
    <script src="https://cdn.staticfile.org/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
    <!-- 引入element组件库 -->
    <script src="https://cdn.staticfile.org/element-ui/2.9.0/index.js"></script>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.9.0/theme-chalk/index.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./css/index.css">
</head>
<body style="margin: 0;height: 100vh;">
    <div  id="app">
        <el-container direction="vertical">
            <!-- 页面头部 -->
            <el-header>
                <div class="header-bar">
                    <div class="logo">
                        <img src="./images/logo.png">
                    </div>
                    <div class="title">
                        Easy&nbsp;&nbsp;Egg
                    </div>
                </div>
                <template v-if="isConfirmNewProject">
                    <el-steps :active="curConfigStep" simple>
                        <el-step title="基本信息" description="" icon="el-icon-info"></el-step>
                        <el-step title="配置与扩展" description="" icon="el-icon-s-operation"></el-step>
                        <el-step title="业务设计" description="" icon="el-icon-s-order"></el-step>
                        <el-step title="创建项目" description="" icon="el-icon-success"></el-step>
                    </el-steps>
                </template>
            </el-header>

            <!-- 页面主内容部分 -->
            <el-main>
                <!-- 新建项目 -->
                <template v-if="!isConfirmNewProject">
                    <div class="main-new">
                        <div class="main-new__icon" @click="isConfirmNewProject = true">
                            <i class="el-icon-circle-plus-outline"></i>
                        </div>
                        <div class="main-new__tip">
                            点击创建新的Egg项目
                        </div>
                    </div>
                </template>
                <!-- 项目配置 -->
                <template v-else>
                    <div class="main-detail">
                        <a name="mainDetailTop"></a>
                        <div class="main-detail__header">
                        </div>
                        <div class="main-detail__form">
                            <!-- 基本信息 -->
                            <template v-if="curConfigStep === 1">
                                <el-form :model="baseInfoForm" 
                                                ref="baseInfoForm" 
                                                :rules="baseInfoRules" 
                                                label-width="100px" 
                                                label-position="top" 
                                                :inline="false" 
                                                size="normal">
                                    <el-form-item prop="projectName" label="项目名称">
                                        <el-input v-model="baseInfoForm.projectName"></el-input>
                                    </el-form-item>
                                    <el-form-item prop="projectAuthor" label="项目创建者">
                                        <el-input v-model="baseInfoForm.projectAuthor"></el-input>
                                    </el-form-item>
                                    <el-form-item prop="projectDescrption" label="项目描述">
                                        <el-input v-model="baseInfoForm.projectDescrption"></el-input>
                                    </el-form-item>
                                    <el-form-item prop="projectSavePath" label="项目保存路径">
                                        <el-input readonly v-model="baseInfoForm.projectSavePath" @click.native="isPathChoiseDialogShow = true"></el-input>
                                    </el-form-item>
                                    <el-form-item prop="projectRepository" label="Git地址">
                                        <el-input v-model="baseInfoForm.projectRepository"></el-input>
                                    </el-form-item>
                                    <el-form-item prop="projectType" label="项目类型">
                                        <el-radio v-model="baseInfoForm.projectType" label="http">HTTP</el-radio>
                                        <el-radio v-model="baseInfoForm.projectType" label="socket" disabled>SOCKET（暂未支持）</el-radio>
                                    </el-form-item>
                                    <el-form-item class="form-button-bar">
                                        <el-button type="primary" size="default" @click="finishBaseInfo">下一步</el-button>
                                    </el-form-item>
                                </el-form>
                            </template>

                            <!-- 配置与扩展 -->
                            <template v-if="curConfigStep === 2">
                                <el-collapse v-model="configCollapseActives" accordion="true" @change="">
                                    <!-- 服务配置 -->
                                    <el-collapse-item name="serverConfig">
                                        <template slot="title">
                                            <div class="collapse-title">服务配置</div>
                                        </template>
                                        <el-form :model="serverConfigForm" 
                                                        ref="serverConfigForm" 
                                                        label-width="100px" 
                                                        label-position="top" 
                                                        :inline="false" 
                                                        size="normal">
                                            <el-form-item prop="serverPort" label="服务端口">
                                                <el-input-number v-model="serverConfigForm.serverPort" :min="1024" :max="65535"></el-input-number>
                                            </el-form-item>
                                            <el-form-item prop="serverWhiteList" label="服务访问白名单">
                                                <el-input type="textarea" 
                                                                :autosize="{ minRows: 4 }" 
                                                                v-model="serverConfigForm.serverWhiteList"
                                                                placeholder="多个地址请使用换行分隔"></el-input>
                                            </el-form-item>
                                        </el-form>
                                    </el-collapse-item>
                                    <!-- 数据库配置 -->
                                    <el-collapse-item name="DBConfig">
                                        <template slot="title">
                                            <div class="collapse-title">数据库配置</div>
                                        </template>
                                        <div>第一个数据源将配置为sequlize的默认数据源</div>
                                        <div class="db-config">
                                            <div v-for="(item,index) in dbConfigList" 
                                                    :key="index" 
                                                    class="db-config__item">
                                                <div class="db-config__item--dbname"><i class="el-icon-coin"></i>{{item.database}}</div>
                                                <div class="db-config__item--username"><i class="el-icon-user"></i>{{item.username}}</div>
                                                <div class="db-config__item--host"><i class="el-icon-connection"></i>{{item.host}}:{{item.port}}</div>
                                            </div>
                                            <div class="db-config__item new-item" @click="isDBConfigDialogShow = true">
                                                <i class="el-icon-plus"></i>
                                            </div>
                                        </div>
                                    </el-collapse-item>
                                    <!-- 服务扩展 -->
                                    <el-collapse-item title="服务扩展" name="serverExtends">
                                        <template slot="title">
                                            <div class="collapse-title">服务扩展</div>
                                        </template>
                                        <el-transfer v-model="selectedExtends" :data="extendComponets" :titles="['可选扩展', '已选扩展']" :button-texts="['不使用', '使用']">
                                        </el-transfer>
                                    </el-collapse-item>
                                </el-collapse>
                                <div class="button-bar">
                                    <el-button type="primary" size="default" @click="curConfigStep--">上一步</el-button>
                                    <el-button type="primary" size="default" @click="finishServerConfig">下一步</el-button>
                                </div>
                            </template>

                            <!-- 业务设计 -->
                            <template v-if="curConfigStep === 3">
                                <!-- 面包屑导航 -->
                                <div class="service-design__header">
                                    <el-breadcrumb separator="/">
                                        <el-breadcrumb-item v-for="(item,index) in serviceDesignBreadcrumb" 
                                                                              :key="index"
                                                                              @click.native="breadcrumbJump(index+1)">
                                            {{item}}
                                        </el-breadcrumb-item>
                                    </el-breadcrumb>
                                </div>
                                <!-- 接口设计 -->
                                <div class="service-design__handle">
                                    <template v-if="curServiceDesignStep<3">
                                        <div v-for="(item,index) in serviceDesignList" 
                                                :key="index" 
                                                class="service-design__handle--item"
                                                @click="nextSeviceDesign(item.name)">
                                            <div class="item-name">{{item.name}}</div>
                                            <div class="item-icon">
                                                <i class="el-icon-arrow-right" style="color: #409EFF;" ></i>
                                            </div>
                                        </div>
                                        <div class="service-design__handle--item new-item">
                                            <div class="item-name">
                                                <el-input v-model="newDesignName" 
                                                                :placeholder="`请输入${serviceDesignBreadcrumb[serviceDesignBreadcrumb.length - 1]}名`" 
                                                                size="normal" 
                                                                clearable
                                                                @keypress.enter.native="addSeviceDesignItem"></el-input>
                                            </div>
                                            <div class="item-icon"><i class="el-icon-check" style="color: #67C23A;" @click="addSeviceDesignItem"></i></div>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div v-for="(item,index) in serviceDesignList" 
                                                :key="index" 
                                                class="service-design__handle--item" 
                                                style="cursor: pointer;"
                                                @click="reviewAPI(item.name)">
                                            <div class="item-name">{{item.name}}</div>
                                            <div class="item-icon">
                                                <i class="el-icon-edit" style="color: #409EFF;margin-right: 5px;" @click="editAPI(item.name)"></i>
                                                <i class="el-icon-delete" style="color: #F56C6C;" @click="deleteAPI(item.name)"></i>
                                            </div>
                                        </div>
                                        <div class="service-design__handle--item new-item-special" @click="addAPI">
                                            <i class="el-icon-plus" style="color: #409EFF;margin: 5px 0;"></i>
                                        </div>
                                    </template>
                                </div>
                                <!-- 接口预览 -->
                                <div class="service-design__preview preview" v-if="curServiceDesignStep === 3">
                                    接口预览：
                                    <template v-if="APIData">
                                        <pre>
/**
 * @Description {{APIData.description}}
 * @Router {{APIData.methods}} /{{selectedDesignNames[0]}}/{{selectedDesignNames[1]}}/{{APIData.routerName}}{{APIData.needAuth?'\n * @Request header { Authorization }':''}}
 * @Request {{APIData.methods === 'get'?'query':'body'}} { {{APIData.requiredParams.join(', ')}}{{APIData.notRequiredParams.length?'[, '+APIData.notRequiredParams.join(', ')+' ]':''}} }
 * @Response 200 { errcode, errmsg{{APIData.expectResponse.length?', '+APIData.expectResponse.join(', '):''}} }
 * @Response 400 { errcode, errmsg }
 */
</pre>
                                    </template>
                                    <template v-else>
                                        <pre>
/**
 * 请点击接口项预览指定接口
 */
</pre>
                                    </template>
                                </div>
                                <div class="button-bar">
                                    <el-button type="primary" size="default" @click="curConfigStep--">上一步</el-button>
                                    <el-button type="primary" size="default" @click="finishServiceDesign">下一步</el-button>
                                </div>
                            </template>

                            <!-- 创建完成 -->
                            <template v-if="curConfigStep === 4">
                                <div class="config-finish__preview preview">
                                    <div class="preview-item">
                                        <div id="projectPath" class="preview-item__title">项目保存目录</div>
                                        <pre>{{baseInfoForm.projectSavePath}}</pre>
                                    </div>
                                    <div class="preview-item">
                                        <div id="defaultConfig" class="preview-item__title">config/config.default.js（默认配置文件）</div>
                                        <pre>
const path = require('path')
// 引入访问白名单配置
const domainWhiteList = require('./domainWhiteList.json')
// 引入数据库配置
const dbConfig = require('./database.json')
const { development:dbDefault } = require('../database/config.json')

module.exports = appInfo => {
    const config = {}

    config.cluster = {
        listen: {
            // 端口
            port: {{serverConfigForm.serverPort}}
        }
    }
    config.keys = '{{baseInfoForm.projectKeys}}'
    // 中间件配置
    config.middleware = [{{selectedExtends.includes('consul') ? "'consulHandler',":""}}{{selectedExtends.includes('contexthandler') ? "'contexthandler',":""}}{{selectedExtends.includes('errorhandler') ? "'errorhandler',":""}}]
    // sequelize配置
    config.sequelize = {
        datasources: [
            {
                ...dbDefault,
                timezone: "+08:00"
            },
            ...dbConfig
        ]
    }
    config.onerror = {
        html(ctx, err) {
            ctx.body = '&lt;h3&gt;error&lt;/h3&gt;'
            ctx.status = 500
        }
    }
    config.errorHandler = {
        match: '/'
    }
    config.security = {
        csrf: {
            useSession: true,
            enable: false,
            cookieName: 'csrfToken',
            sessionName: 'csrfToken'
        },
        // 访问白名单配置
        domainWhiteList
    }
    config.cors = {
        origin: '*',
        exposeHeaders: 'WWW-Authenticate,Server-Authorization,Date',
        maxAge: 100,
        credentials: true,
        allowMethods: 'GET,HEAD,PUT,POST,DELETE,PATCH,OPTIONS',
        allowHeaders: 'Content-Type,Authorization,Accept,X-Custom-Header,anonymous'
    }
    config.static = {
        prefix: '/',
        dir: [path.join(appInfo.baseDir, 'app/public')]
    }

    return config
}
</pre>
                                    </div>
                                    <div class="preview-item">
                                        <div id="whiteList" class="preview-item__title">config/domainWhiteList.json（访问白名单）</div>
                                        <pre>
[{{serverConfigForm.serverWhiteList ? '\n\t"' + serverConfigForm.serverWhiteList.replace(/\s/g,'",\n\t"') + '"\n' : ''}}]
</pre>
                                    </div>
                                    <div class="preview-item">
                                        <div id="dbConfig" class="preview-item__title">database/config.json（默认数据源配置文件）</div>
                                        <pre>
{
    "development": {
        "username": "{{dbConfigList[0].username}}",
        "password": "{{dbConfigList[0].password}}",
        "database": "{{dbConfigList[0].database}}",
        "host": "{{dbConfigList[0].host}}",
        "port": "{{dbConfigList[0].port}}",
        "dialect": "mysql"
    }
}
</pre>
                                    </div>
                                    <div class="preview-item">
                                        <div class="preview-item__title">config/databases.json（扩展数据源配置文件）</div>
                                        <pre>
[
    <template v-for="(item,index) in dbConfigList.slice(1)" :key="index">{
        "delegate": "{{item.delegate}}",
        "baseDir": "{{item.baseDir}}",
        "dialect": "{{item.dialect}}",
        "host": "{{item.host}}",
        "port": {{item.port}},
        "database": "{{item.database}}",
        "username": "item.username",
        "password": "{{item.password}}",
        "timezone": "{{item.timezone}}"
    },</template>
]
</pre>
                                    </div>
                                    <div class="preview-item">
                                        <div id="routerConfig" class="preview-item__title">app/router.js（总路由文件）</div>
                                        <pre>
module.exports = app => {
    <template v-for="(item,index) in serviceDesignDatas" :key="index">require('./router/{{item.name}}.js')(app)
    </template>
}
</pre>
                                    </div>
                                    <div class="preview-item" v-for="(ns,i) in serviceDesignDatas" :key="i">
                                        <div class="preview-item__title">app/router/{{ns.name}}.js</div>
                                        <pre>
module.exports = app => {
    const { router, controller } = app;
    // 授权中间件
    const checkAuth = middleware.checkAuth()
    // 参数检测中间件
    const cp = middleware.checkParams
    <template v-for="(m,j) in ns.children" :key="j">// {{m.name}}
    <template v-for="(api,k) in m.children" :key="k">router.{{api.methods}}('/{{ns.name}}/{{m.name}}/{{api.routerName}}', {{api.needAuth?'checkAuth, ':''}}{{api.requiredParams.length?'cp('+JSON.stringify(api.requiredParams)+'), ':''}}controller.{{m.name}}.{{api.name}}) // {{api.description}}
    </template>
    </template>
}
</pre>
                                    </div>
                                </div>
                                <div class="button-bar">
                                    <el-button type="primary" size="default" @click="curConfigStep--">上一步</el-button>
                                    <el-button type="primary" size="default" @click="structProject">确认无误，开始创建</el-button>
                                </div>
                            </template>
                        </div>
                        <div class="main-detail__footer">
                        </div>
                        <a name="mainDetailBottom"></a>
                    </div>
                </template>
            </el-main>

            <!-- 页面底部 -->
            <el-footer>
                版权所有&nbsp;&copy;广州亿语智能科技有限公司
            </el-footer>
        </el-container>

        <!-- 保存目录选择弹窗 -->
        <el-dialog
            title="选择目录"
            :visible.sync="isPathChoiseDialogShow"
            width="50%"
            :close-on-click-modal="false"
            @open="getFileList()"
            @close="isPathChoiseDialogShow = false">
            <div class="file-header">
                <el-tooltip :content="savePath" placement="top" effect="dark">
                    <div class="file-header__path">{{savePath}}</div>
                </el-tooltip>
                <div class="file-header__back"><i class="el-icon-back" @click="goBack"></i></div>
            </div>
            <div class="file-explorer">
                <div v-for="(item,index) in fileList" :key="index" class="file-explorer__item" @click="openDir(item)">
                    <div class="file-explorer__item--icon"><i :class="item.isDir ? 'el-icon-folder' : 'el-icon-document'"></i></div>
                    <div class="file-explorer__item--name">{{item.name}}</div>
                    <div v-if="item.isDir" class="file-explorer__item--link"><i class="el-icon-caret-right"></i></div>
                </div>
            </div>
            <span slot="footer">
                <el-button @click="isPathChoiseDialogShow = false">取消</el-button>
                <el-button type="primary" @click="confirmSavePath">确定</el-button>
            </span>
        </el-dialog>
        

        <!-- 数据库配置表单弹窗 -->
        <el-dialog
            title="数据库配置"
            :visible.sync="isDBConfigDialogShow"
            width="30%"
            :close-on-click-modal="false"
            @close="onDBConfigDialogClose">
            <el-form :model="dbConfigForm" 
                            ref="dbConfigForm" 
                            :rules="dbConfigRules" 
                            label-width="100px" 
                            label-position="top" 
                            :inline="false" 
                            size="normal">
                <el-form-item prop="username" label="登录用户名">
                    <el-input v-model="dbConfigForm.username"></el-input>
                </el-form-item>
                <el-form-item prop="password" label="登录密码">
                    <el-input v-model="dbConfigForm.password"></el-input>
                </el-form-item>
                <el-form-item prop="database" label="数据库名">
                    <el-input v-model="dbConfigForm.database"></el-input>
                </el-form-item>
                <el-form-item prop="host" label="数据库地址">
                    <el-input v-model="dbConfigForm.host"></el-input>
                </el-form-item>
                <el-form-item prop="port" label="端口">
                    <el-input placeholder="端口默认6379" v-model="dbConfigForm.port"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer">
                <el-button @click="onDBConfigDialogClose">取消</el-button>
                <el-button type="primary" @click="addDBConfig">确定</el-button>
            </span>
        </el-dialog>
        
        <!-- 业务设计接口表单弹窗 -->
        <el-dialog
            title="接口设计"
            :visible.sync="isAPIDesignDialogShow"
            width="30%"
            :close-on-click-modal="false"
            @close="onAPIDesignDialogClose">
            <el-form :model="APIDesignForm" 
                            ref="APIDesignForm" 
                            :rules="APIDesignRules" 
                            label-width="120px" 
                            :inline="false" 
                            size="normal">
                <el-form-item prop="name" label="接口方法名">
                    <el-input v-model="APIDesignForm.name"></el-input>
                </el-form-item>
                <el-form-item prop="description" label="接口描述">
                    <el-input v-model="APIDesignForm.description"></el-input>
                </el-form-item>
                <el-form-item prop="needAuth" label="是否需要鉴权">
                    <el-checkbox v-model="APIDesignForm.needAuth"></el-checkbox>
                </el-form-item>
                <el-form-item prop="routerName" label="路由名">
                    <el-input v-model="APIDesignForm.routerName"></el-input>
                </el-form-item>
                <el-form-item prop="methods" label="请求方式">
                    <el-select v-model="APIDesignForm.methods">
                        <el-option label="get" value="get">
                        </el-option>
                        <el-option label="post" value="post">
                        </el-option>
                        <el-option label="delete" value="delete">
                        </el-option>
                        <el-option label="put" value="put">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item prop="requiredParams" label="必须请求参数">
                    <el-input type="textarea" 
                                    :autosize="{ minRows: 4 }" 
                                    v-model="APIDesignForm.requiredParams"
                                    placeholder="多个参数请使用换行分隔"></el-input>
                </el-form-item>
                <el-form-item prop="notRequiredParams" label="非必须请求参数">
                    <el-input type="textarea" 
                                    :autosize="{ minRows: 4 }" 
                                    v-model="APIDesignForm.notRequiredParams"
                                    placeholder="多个参数请使用换行分隔"></el-input>
                </el-form-item>
                <el-form-item prop="expectResponse" label="预期响应参数">
                    <el-input type="textarea" 
                                    :autosize="{ minRows: 4 }" 
                                    v-model="APIDesignForm.expectResponse"
                                    placeholder="多个参数请使用换行分隔"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer">
                <el-button @click="onAPIDesignDialogClose">取消</el-button>
                <el-button type="primary" @click="addOrEditAPIDesign">确定</el-button>
            </span>
        </el-dialog>

        <el-dialog
            title="项目创建中"
            :visible.sync="isProgressDialogShow"
            width="30%"
            :show-close="false"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            @close="isProgressDialogShow = false">
            <el-progress :text-inside="true" :percentage="genProjectPercentage" :status="genProjectStatus" :stroke-width="26"></el-progress>
        </el-dialog>
        

        <!-- 项目配置预览导航 -->
        <div v-if="isConfirmNewProject && curConfigStep === 4" 
                class="config-preview__nav" 
                :class="{fold:isPreviewNavUnfold === false, unfold:isPreviewNavUnfold === true}">
            <div v-if="!isPreviewNavUnfold" class="nav-unfold" @click="isPreviewNavUnfold = true"><i class="el-icon-d-arrow-left"></i></div>
            <div class="nav-list">
                <div class="nav-list__item" @click="location.href='#mainDetailTop'"><i class="el-icon-caret-top"></i></div>
                <div class="nav-list__item" @click="location.href='#projectPath'">项目保存目录</div>
                <div class="nav-list__item" @click="location.href='#defaultConfig'">默认配置</div>
                <div class="nav-list__item" @click="location.href='#whiteList'">访问白名单配置</div>
                <div class="nav-list__item" @click="location.href='#dbConfig'">数据库配置</div>
                <div class="nav-list__item" @click="location.href='#routerConfig'">路由配置</div>
                <div class="nav-list__item" @click="location.href='#mainDetailBottom'"><i class="el-icon-caret-bottom"></i></div>
            </div>
            <div v-if="isPreviewNavUnfold" class="nav-fold" @click="isPreviewNavUnfold = false"><i class="el-icon-d-arrow-right"></i></div>
        </div>
    </div>
    <script src="./script/index.js"></script>
</body>
</html>