* {
  box-sizing: border-box;
}

.file-header {
  height: 50px;
  font-size: 20px;
  padding: 5px 10px;
  display: flex;
}
.file-header__path {
  max-width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  /* direction: rtl; */
}
.file-header__back {
  flex: 1;
  text-align: right;
}
.file-header__back i {
  cursor: pointer;
}

.file-explorer {
  height: 500px;
  font-size: 20px;
  padding: 5px;
  box-shadow: inset 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.file-explorer__item {
  padding: 10px;
  cursor: pointer;
  display: flex;
}
.file-explorer__item ~ .file-explorer__item {
  margin-top: 10px;
}
.file-explorer__item:hover {
  background-color: #65caf2;
}
.file-explorer__item--icon,
.file-explorer__item--name {
  width: fit-content;
}
.file-explorer__item--icon {
  margin-right: 10px;
}
.file-explorer__item--link {
  flex: 1;
  text-align: right;
}

.el-collapse,
.el-collapse-item__header,
.el-collapse-item__wrap {
  border: none;
}
.el-collapse-item:last-child {
  border-bottom: 1px solid #eeeeee;
}
.el-collapse-item__wrap {
  padding: 10px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.collapse-title {
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
.el-collapse-item ~ .el-collapse-item {
  margin-top: 8px;
}
.el-collapse-item__header {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.el-dialog__body {
  max-height: 60vh;
  overflow-y: auto;
}

.el-select {
  width: 100%;
}

.button-bar {
  margin-top: 20px;
  text-align: center;
}

.addition-table {
  display: inline-block;
  width: 90%;
  border-collapse: collapse;
  padding: 0;
}
.addition-table td {
  position: relative;
}
.addition-table td .el-icon-check {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translate(0, -50%);
}
.addition-table td .el-input__inner {
  height: 30px;
  line-height: 30px;
  border: none;
}
.addition-table td .el-input__suffix .el-input__icon {
  height: 30px;
  line-height: 30px;
}
.addition-table th,
td {
  height: fit-content;
  line-height: initial;
  text-align: center;
  padding: 3px;
  border: 1px solid #dcdfe6;
}

.preview pre {
  margin: 5px 0;
  padding: 10px;
  background-color: #d0d0d0;
}

.el-container {
  height: 100vh;
}

.el-breadcrumb__inner {
  cursor: pointer;
}

/* header */
.el-header {
  padding: 0;
  background-color: antiquewhite;
  box-shadow: 0 1px 5px 0px #a0a0a0;
  height: fit-content !important;
}
.el-header .header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 50px;
}
.el-header .header-bar .logo img {
  height: 70px;
  width: 70px;
}
.el-header .header-bar .title {
  margin-left: 30px;
  font-size: 36px;
  font-weight: bold;
}
.el-header .header-bar .operation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.el-header .header-bar .operation .operation-item {
  color: #409eff;
  font-size: 16px;
  cursor: pointer;
}

/* main content */
.el-main {
  flex: 1;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
}
.el-main .main-new,
.main-detail {
  height: 100%;
}
.el-main .main-new,
.el-main .main-exist {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.el-main .main-exist {
  padding: 0 100px;
  position: relative;
}
.el-main .main-exist::before {
  content: '';
  position: absolute;
  height: 600px;
  width: 0;
  border: 1px solid #eaeaea;
  left: 0;
}
.main-exist .el-row {
  width: 100%;
  min-height: 135px;
  max-height: 400px;
  padding: 10px;
  border-radius: 4px;
  overflow-y: auto;
}
.main-exist .el-col:nth-child(n + 2) {
  margin-top: 10px;
}

.main-exist .main-exist__title {
  width: 100%;
  font-size: 24px;
  color: #a0a0a0;
  margin-bottom: 40px;
}
.main-exist .main-exist__empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #d0d0d0;
}
.main-exist .main-exist__item {
  position: relative;
  /* width: 170px; */
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  overflow-wrap: break-word;
}
.main-exist .main-exist__item .item-title {
  color: #303030;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 10px;
}
.main-exist .main-exist__item .item-detail {
  color: #555;
  font-size: 14px;
}
.main-exist .main-exist__item .item-handlebar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
.main-exist .main-exist__item .item-handlebar i {
  cursor: pointer;
}
.item-detail ~ .item-detail {
  margin-top: 5px;
}

.el-main .main-new__icon {
  color: #d0d0d0;
  font-size: 100px;
  cursor: pointer;
}
.el-main .main-new__icon:hover {
  color: #a0a0a0;
  font-size: 120px;
}
.el-main .main-new__tip {
  color: #d0d0d0;
  font-size: 24px;
}
.el-main .main-detail {
  display: flex;
  flex-direction: column;
}
/* .el-main .main-detail .main-detail__header {
    height: fit-content;
} */
.el-main .main-detail .main-detail__form {
  margin: 10px auto;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  height: fit-content;
  min-width: 800px;
  width: fit-content;
  padding: 20px 50px;
}
.el-main .main-detail .main-detail__form .form-button-bar {
  margin-top: 50px;
  text-align: center;
}
.el-main .main-detail .main-detail__form .db-config .db-config__item {
  height: 100px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.el-main .main-detail .main-detail__form .db-config {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.db-config__item i {
  margin-right: 10px;
}
.db-config__item .db-config__item--dbname {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 20px;
}
.db-config__item .db-config__item--username,
.db-config__item--host {
  font-size: 16px;
  line-height: 16px;
}
.el-main .main-detail .main-detail__form .db-config .db-config__item.new-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d0d0d0;
  font-size: 50px;
  cursor: pointer;
}
.service-design__header .el-breadcrumb {
  font-size: 20px;
  margin-bottom: 20px;
}
.service-design__handle {
  max-height: 500px;
  padding: 10px 5px;
}
.service-design__handle--item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.service-design__handle--item ~ .service-design__handle--item {
  margin-top: 8px;
}
.service-design__handle--item .item-name {
  height: 40px;
  width: 200px;
  font-size: 18px;
  line-height: 40px;
}
.service-design__handle--item .item-icon {
  flex: 1;
  text-align: right;
  font-size: 20px;
}
.service-design__handle--item .item-icon i {
  cursor: pointer;
}
.service-design__handle--item.new-item-special {
  font-size: 30px;
  justify-content: center;
}
.service-design__handle--item:not(.new-item) {
  cursor: pointer;
}
.service-design__handle--item:not(.new-item):hover {
  box-shadow: inset 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.config-finish__preview .preview-item ~ .preview-item {
  margin-top: 10px;
}
.config-finish__preview .preview-item .preview-item__title {
  font-size: 20px;
}
.config-preview__nav {
  display: flex;
  align-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: calc(100% + 50px);
}
.config-preview__nav.unfold {
  animation: navUnfoldMove 0.8s ease-in-out forwards;
}
.config-preview__nav.fold {
  animation: navFoldMove 0.8s ease-in-out forwards;
}
.config-preview__nav .nav-list .nav-list__item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #eeeeee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.config-preview__nav .nav-list .nav-list__item ~ .nav-list__item {
  margin-top: 10px;
}
.config-preview__nav .nav-unfold,
.nav-fold {
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}
.config-preview__nav .nav-unfold i {
  animation: unfoldMove 0.6s ease-in-out infinite;
}
.config-preview__nav .nav-fold i {
  animation: foldMove 0.6s ease-in-out infinite;
}

@keyframes unfoldMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, 0);
  }
}
@keyframes foldMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(10px, 0);
  }
}
@keyframes navUnfoldMove {
  from {
    left: calc(100% + 50px);
  }
  to {
    left: 90%;
  }
}
@keyframes navFoldMove {
  from {
    left: 90%;
  }
  to {
    left: calc(100% + 50px);
  }
}

/* footer */
.el-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0 -1px 5px 0px #a0a0a0;
}

/* 滚动条整体部分 */
::-webkit-scrollbar {
  width: 5px;
}
/* 滚动条中用于拖动的块 */
::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background-color: #d7bb9d;
}
/* 滚动条的轨道 */
::-webkit-scrollbar-track {
  width: 5px;
  /* box-shadow: inset 0px 0px 3px 0px #aeaeae; */
  background-color: whitesmoke;
}
/* 滚动条两端的按钮 */
::-webkit-scrollbar-button {
  display: none;
}
